@font-face {
  font-family: "Knewave";
  src: url("./fonts/Knewave.ttf") format("truetype");
}

.logoImg {
  height: 6vh;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(155, 155, 155);
  height: 9vh;
  align-items: center;
  justify-content: center;
  gap: 59vw;
  box-shadow: rgba(85, 85, 85, 0.24) 0px 3px 8px;
}

.headerLogoDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4vw;
}

.nightModeImg {
  height: 3vh;
  padding: 0.7vh;
  background-color: rgb(221, 221, 221);
  border-radius: 0.8vh;
}

.headerNavDiv {
  display: flex;
  flex-direction: row;
  gap: 1.6vw;
  align-items: center;
}

.headerText {
  font-family: Knewave;
  letter-spacing: 0.2rem;
  font-weight: 200;
}

.homeBtn {
  margin-left: 2vw;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  color: rgb(54, 54, 54);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logInBtn {
  border: none;
  background-color: white;
  color: rgb(54, 54, 54);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
}

.signUpBtn {
  border: none;
  background-color: white;
  color: rgb(54, 54, 54);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  border-radius: 0.6vh;
  background: linear-gradient(to right, #59a0fd, #1465f0);
  padding: 1vh;
}

.homeBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logInBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signUpBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.underHeaderDiv {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 60vh;
}

.welcomeToDiv {
  display: flex;
  flex-direction: column;
  width: 60vw;
  border-bottom: 1px solid rgb(155, 155, 155);
  box-shadow: rgba(85, 85, 85, 0.24) 0px 3px 8px;
}

.welcomeToHeader {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 11vw;
  font-size: 3rem;
}

.blogsterHeader {
  font-family: Knewave;
  margin-left: 16vw;
  margin-top: -4vh;
  font-size: 4rem;
  letter-spacing: 0.7rem;
  font-weight: 100;
  background: linear-gradient(to right, #59a0fd, #063c99);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcomeText {
  margin-left: 11vw;
  width: 32vw;
  font-size: 1.4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: -2vh;
}

.welcomeButtonsDiv {
  display: flex;
  flex-direction: row;
  margin-left: 11vw;
  width: 16vw;
  height: 5vh;
  gap: 2vw;
  margin-top: 2vh;
}

.laptopImg {
  box-shadow: rgba(85, 85, 85, 0.24) 0px 3px 8px;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.welcomeSignInBtn {
  width: 6vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 1vh;
  border: none;
  color: white;
  outline: none;
  background: linear-gradient(to right, #59a0fd, #063c99);
}

.welcomeSignInBtn:hover {
  background: linear-gradient(to right, #3f8ef5, #04255f);
  cursor: pointer;
}

.gitHubBtn {
  width: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4vw;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 1vh;
  border: none;
  outline: none;
}

.gitHubBtn:hover {
  cursor: pointer;
  background-color: rgb(175, 175, 175);
}

.gitHubIcon {
  height: 2.8vh;
}

.backgroundSignUpDiv {
  background-color: rgb(241, 241, 241);
  width: 100vw;
  height: 90.5vh;
}

.signUpDiv {
  position: absolute;
  width: 22vw;
  left: 39vw;
  height: 60vh;
  top: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpHeader {
  font-size: 2.6rem;
}

.signUpParagraph {
  margin-top: -1.5vh;
  color: rgb(73, 73, 73);
}

.signUpFormDiv {
  width: 16vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #ffffff, rgb(241, 241, 241));
  border-radius: 0.6vh;
  box-shadow: rgba(85, 85, 85, 0.24) 0px 3px 8px;
}

.signUpLabel {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 1vw;
  margin-top: 1.5vh;
}

.signUpInput {
  width: 80%;
  margin-top: 0.5vh;
  margin-left: 1vw;
  font-size: 1.3rem;
  border-radius: 0.5vh;
  outline: none;
  border: 1px solid rgb(185, 185, 185);
  padding-left: 0.5vw;
  height: 3.1vh;
}

.passwordInputDiv {
  display: flex;
  flex-direction: row;
}

.signUpInputPassword {
  width: 10.66vw;
  margin-top: 0.5vh;
  margin-left: 1vw;
  font-size: 1.3rem;
  border-radius: 0.5vh;
  outline: none;
  border-top: 1px solid rgb(185, 185, 185);
  border-left: 1px solid rgb(185, 185, 185);
  border-bottom: 1px solid rgb(185, 185, 185);
  border-right: none;
  padding-left: 0.5vw;
  height: 3.1vh;
}

.inputButton {
  width: 2.5vw;
  height: 3.5vh;
  background-color: white;
  margin-top: 0.5vh;
  border-bottom: 1px solid rgb(185, 185, 185);
  border-right: 1px solid rgb(185, 185, 185);
  border-top: 1px solid rgb(185, 185, 185);
  border-left: none;
  border-radius: 0.5vh;
  margin-left: -0.3vw;
}

.inputButton:hover {
  background-color: rgb(204, 204, 204);
  cursor: pointer;
}

.showImg {
  height: 3vh;
}

.signUpConfirmBtn {
  width: 84.3%;
  margin-left: 1vw;
  margin-top: 3vh;
  height: 3.4vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background: linear-gradient(to right, #59a0fd, #063c99);
  border: none;
  border-radius: 0.5vh;
}

.signUpConfirmBtn:hover {
  cursor: pointer;
  background: linear-gradient(to left, #59a0fd, #063c99);
}

.signUpParagraph1 {
  color: #063c99;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.signUpParagraph1:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #1465f0;
}

.logInFormDiv {
  width: 16vw;
  height: 31vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #ffffff, rgb(241, 241, 241));
  border-radius: 0.6vh;
  box-shadow: rgba(85, 85, 85, 0.24) 0px 3px 8px;
}


